---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Hero from "@/components/Hero.astro";
import { Picture } from "astro:assets";
import Badge from "@/components/Badge.astro";
import Button from "@/components/Button.astro";
import ButtonCallUs from "@/components/ButtonCallUs.astro";
import Article from "@/components/Article.astro";

// Images
import HeroImage from "@/assets/images/interieur.jpeg";
import { phone } from "@/data/config";
---

<Layout>
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Une restauration traditionnelle et gastronomique" />
				<h1 class="font-black">Une cuisine française authentique dans un cadre chaleureux...</h1>

				<p>
					Découvrez le goût de la France avec nos plats authentiques préparés à partir des meilleurs ingrédients. Savourez notre grande variété de spécialités régionales, vins et fromages, tous préparés avec soin et générosité. Que vous dîniez sur place ou emportiez votre repas, nous vous promettons une expérience culinaire mémorable.
				</p>

				<span class="text-brand-green font-medium">✔ Plats à emporter</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url={phone.href}>Réserver</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-xl"}
					src={HeroImage}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={'bg-white'}>
		<Article>
			<h2>Bienvenue à La Goutte Noire</h2>
			<p>
				Après une aventure de 14 ans en forêt de Tronçais dans un autre restaurant, nous avons eu un coup de cœur à Châteaumeillant dans cet établissement qui se nommait à l'époque "ORESTOBERKO" et que nous avons rebaptisé "La Goutte Noire". Et le 5 juin 2012, l'aventure commençait. Après une fermeture de plus de trois ans, il fallait refaire une clientèle, ce que nous avons réussi à faire rapidement. Depuis, notre clientèle s'est bien diversifiée, aussi bien locale, régionale et plus loin encore. 8 ans de bonheur qui nous ont permis de placer notre établissement sur un bon créneau gastronomique GaultMillau et Michelin.
			</p>
			<p>
				Venez découvrir ou redécouvrir La Goutte Noire, Hôtel, Restaurant, Traiteur.
			</p>
		</Article>
	</Section>
</Layout>
