---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import MenuList from "~/components/Menu.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-black text-brand-green h2">Notre menu</h1>
			<p slot="heading-content">
				Nous proposons une variété de plats, du traditionnel au moderne, qui sauront satisfaire vos envies.
			</p>
		</Heading>

		<MenuList />
	</Section>
</Layout>
